html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Mylibrary {
    font-family: Arial, sans-serif;
    color: black;
    background: linear-gradient(135deg, rgba(112, 246, 255, 0.33) 11.2%, rgba(221, 108, 241, 0.26) 42%, rgba(229, 106, 253, 0.71) 71.5%, rgba(123, 183, 253, 1) 100.2%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 20px;
    gap: 20px;
}

.Mylibrary h1 {
    font-size: 2rem;
    margin: 0;
    position: absolute;
    top: 20px; 
    left: 20px;
    color: black;
}